<!-- search bar -->
<div class="container search-bar">
    <div class="search-bar-outer">
        <div class="search-bar-inner">
                <form action="/search" method="GET">
                    <h4 class="m-2">尋找餐廳：</h4>
                    <div class="input-group">
                        <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" value="{{this.keyword}}"
                            aria-label="Restaurant Name..." value="" aria-describedby="search-button">
                        <div class="input-group-append">
                            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <form action="/sort" method="GET">
                    <div>
                        <h4 class="m-2">排序：</h4>
                        <div class="input-group">
                            <select class="form-control" id="exampleFormControlSelect1" onchange="this.form.submit()" name="sort">
                                <option value="name" {{#if (eq this.sortObj 'name') }} selected {{/if}}>按 A->Z </option>
                                <option value="-name" {{#if (eq this.sortObj '-name') }} selected {{/if}}>按 Z->A </option>
                                <option value="category" {{#if (eq this.sortObj 'category') }} selected {{/if}}>按 類別 </option>
                                <option value="location" {{#if (eq this.sortObj 'location')}} selected {{/if}}>按 地區 </option>
                            </select>
                        </div>    
                    </div>
                </form>      
        </div>
    </div>
</div>
<!-- restaurant list -->
<div class="container mt-5">
        <div class="cards row">         
                {{#each restaurantList}}
                <div class="col-4">  
                    <a href="/restaurants/{{this._id}}" class="text-secondary">
                        <div class="card mb-3">
                            <img class="card-img-top"
                                src="{{this.image}}"
                                alt="{{this.name_en}}">
                            <div class="card-body p-3">
                                <h6 class="card-title mb-1">{{this.name}}</h6>
                                <div class="restaurant-category mb-1">
                                    <i class="fas fa-utensils pr-2"></i>{{this.category}}
                                </div>
                                <span class="badge badge-pill badge-danger font-weight-normal">
                                {{this.rating}}
                                    <i class="fas fa-star fa-xs"></i>
                                </span>
                            </div>
                            <div class="setting-btn m-2 row ">
                                <div class="col-6">
                                    <span class="text-secondary">
                                        <a href="/restaurants/{{this._id}}/edit">
                                            <button type="button" class="btn btn-outline-dark" data-toggle="modal"
                                                data-target="#exampleModal2"><i class="fas fa-edit"></i>編輯資料</button>
                                        </a>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="text-secondary">
                                        <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i>刪除資料</button>
                                        </form>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}  
        </div>
</div>