<h1 class="mb-1 restaurant-show-title">{{rest.name}}</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <p class="mb-2"> 
                <span class="text-secondary">
                <i class="fas fa-edit"></i>
                <a href="./{{ rest._id }}/edit">
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal2">編輯資料</button>
                </a>
                </span>
            </p>

            <p class="mb-1">
                <span class="text-secondary">
                    <i class="fas fa-utensils pr-2"></i>
                    類別：
                </span>
                {{rest.category}}
            </p>

            <p class="mb-1">
                <span class="text-secondary">
                    <i class="fas fa-map-marker-alt pr-2"></i>
                    地址：
                </span>
                {{rest.location}}
                <a href="https://goo.gl/maps/V9mKwVJ4s5v" class="text-secondary" target="_blank">
                    <i class="fas fa-location-arrow pr-2 fa-xs"></i>
                </a>
            </p>

            <p class="mb-1">
                <span class="text-secondary">
                    <i class="fas fa-mobile-alt pr-2"></i>
                    電話：
                </span>
                {{rest.phone}}
            </p>

            <p class="mb-5">
                {{rest.description}}
            </p>

            <img class="rounded mx-auto d-block mb-4 w-100"
                src="{{rest.image}}" alt="{{rest.name_en}}廳"
                style="max-width: 600px;">
        </div>
    </div>
    <div>
        <div class="col-12 col-md-2 mx-auto">
            <p class="m-2">
                <span class="text-secondary">           
                    <form action="./{{ rest._id }}?_method=DELETE" method="POST" style="display: inline;">
                        <i class="fas fa-trash-alt"></i>
                        <button type="submit" class="btn btn-danger">刪除資料</button>
                    </form>
                </span>
            </p>
        </div>
    </div>
</div>
